@model WebApplication1.Models.HR_Employee

@{
    ViewBag.Title = "รายละเอียด";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>รายละเอียด</h2>

<div>
    <h4>คุณ @Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("ชื่อ-นามสกุล พนักงาน")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayName("วัน/เดือน/ปีเกิด")
        </dt>

        <dd>
            @{
                DateTime? Bdate = Model.Birthdate;
                string FormatDate;
                if (Bdate.HasValue)
                {
                    FormatDate = Bdate.Value.ToString("dd/MM/yyyy");
                    @Html.DisplayFor(model => FormatDate);
                }
            }
        </dd>

        <dt>
            @Html.DisplayName("หัวหน้างาน")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BossID)
        </dd>

        <dt>
            @Html.DisplayName("หน่วยงานที่สังกัด")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HR_Department.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("แก้ไขข้อมูล", "Edit", new { id = Model.EmployeeID }) |
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index")
</p>
