@model WebApplication1.Models.HR_Employee

@{
    ViewBag.Title = "แก้ไขข้อมูลพนักงาน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>แก้ไขข้อมูลพนักงาน</h2>

@if (ViewBag.EmpEditException != null)
{
    <script type="text/javascript">
        alert('@ViewBag.EmpEditException');
    </script>
    <p class="bg-danger"><span class="glyphicon glyphicon-alert"></span>@ViewBag.EmpEditException</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.EmployeeID, new { @maxlength = "20", @readonly = "readonly" })

        <div class="form-group required">
            @Html.LabelFor(model => model.FirstName, "ชื่อ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control",@placeholder ="กรอกชื่อจริง", @required = true, @maxlength = 50 } }) 
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.LastName, "นามสกุล", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรอกนามสกุล", @required = true, @maxlength = 50 } }) 
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group required">
            @Html.LabelFor(model => model.Birthdate, "วัน/เดือน/ปีเกิด", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control dateInput", @readonly = "true", @required = "tue" } }) 
                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentID, "หน่วยงานที่สังกัด", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control"})
                @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BossID, "หัวหน้างาน", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 form-inline">
                @Html.TextBox("InputBossID", null, htmlAttributes: new { @class = "form-control", @autocomplete = "off", @Value = Model.BossID, @placeholder = "กรอกรหัสหัวหน้างาน" })
                <button type="submit" class="btn btn-info" id="SearchBtn">ค้นหา</button>
                @Html.HiddenFor(model => model.BossID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "readonly", @Value = DateTime.Now.ToString(@"dd/MM/yyy HH:mm:ss") } })
                @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index")
</div>
@section Scripts{
    <script src=@Url.Content("~/Scripts/dateInput.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.ui.datepicker.ext.be.js")></script>
    <script src=@Url.Content("~/Scripts/SearchBossBtn.js")></script>
}
