@model WebApplication1.Models.HR_Employee
@using System.Globalization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string FormMode = ViewBag.Mode;
    switch (FormMode)
    {
        case "Create":
            ViewBag.Title = "เพิ่มพนักงาน";
            break;
        case "Edit":
            ViewBag.Title = "แก้ไขพนักงาน";
            break;
        default:
            break;
    }

    <h2>@ViewBag.Title</h2>
    if (ViewBag.Exception != null)
    {
        <p class="bg-danger"><span class="glyphicon glyphicon-alert"></span> @ViewBag.Exception</p>
    }
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                @if (ViewBag.Mode == "Create")
                {
                    @Html.EditorFor(model => model.EmployeeID, new { htmlAttributes = new { @type = "hidden", @maxlength = 50, @class = "form-control", @Value = "EMP-" + DateTime.Today.ToString("yyyy-MM", CultureInfo.InvariantCulture) + "-" + ViewData["currentID"] } })
                }
                else if (ViewBag.Mode == "Edit")
                {
                    @Html.HiddenFor(model => model.EmployeeID, new { htmlAttributes = new { @class = "form-control", @readonly = true, @maxlength = 50 } })
                }
                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group required">
                @Html.LabelFor(model => model.Firstname, "ชื่อ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรอกชื่อจริง", @maxlength = 100 } })
                    @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group required">
                @Html.LabelFor(model => model.Lastname, "นามสกุล", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @placeholder = "กรอกนามสกุล", @maxlength = 100 } })
                    @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group required">
                @Html.LabelFor(model => model.Birthdate, "วัน/เดือน/ปีเกิด", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @if (ViewBag.Mode == "Create")
                    {
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control dateInput", @readonly = true, @placeholder = "คลิกที่นี่เพื่อเลือกวันเกิด" } })
                    }
                    else if (ViewBag.Mode == "Edit")
                    {
                        @Html.EditorFor(model => model.Birthdate, new { htmlAttributes = new { @class = "form-control dateInput", @readonly = true, @placeholder = "คลิกที่นี่เพื่อเลือกวันเกิด", @Value = Model.Birthdate.Value.ToString("dd/MM/yyyy") } })
                    }
                    @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BossID, "หัวหน้างาน", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 form-inline">
                    @Html.DropDownListFor(m => m.BossID, (SelectList)ViewBag.BossIDList, "----", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BossID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentID, "หน่วยงานที่สังกัด", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("DepartmentID", (SelectList)ViewBag.DepartmentIDList, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ModifiedDate, new { htmlAttributes = new { @class = "form-control", @type = "hidden", @readonly = "readonly", @Value = DateTime.Now.ToString(@"dd/MM/yyyy HH:mm:ss") } })
                    @Html.ValidationMessageFor(model => model.ModifiedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=@FormMode class="btn btn-primary" />
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }
}

<div>
    @Html.ActionLink("กลับสู่หน้าหลัก", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
@section Scripts{
    <script src=@Url.Content("~/Scripts/dateInput.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.ui.datepicker.ext.be.js")></script>
}
