@*model IEnumerable<WebApplication1.Models.HR_Employee> *@
@using System.Linq
@using PagedList.Mvc
@model PagedList.IPagedList<WebApplication1.Models.HR_Employee>

@{
    ViewBag.Title = "ข้อมูลพนักงาน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StyleSheet{
<link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
}

<h2>ข้อมูลพนักงาน</h2>
@using (Html.BeginForm("Index","HR_Employee",FormMethod.Get))
{
    <div class="form-inline pull-right">
        @Html.Label("ค้นหาโดยใช้ชื่อ", ViewBag.currentFilter as string, htmlAttributes: new { @class = "control-label"})
        @Html.TextBox("searchString",null, htmlAttributes: new { @class = "form-control" })
        <button type="submit" value="Search"><span class="glyphicon glyphicon-search"></span></button>
    </div>
}
<br/>
<table class="table table-bordered">
    @if (!Model.Any())
    {
        <tr>
            <th>
                <p class="text-warning text-center"><span class="glyphicon glyphicon-info-sign"></span> ไม่มีข้อมูลพนักงาน</p>
            </th>
        </tr>
    }
    else
    {
        <tr>
            <th></th>
            <th>
                รหัสพนักงาน
            </th>
            <th>
                @Html.ActionLink("ชื่อ-นามสกุลพนักงาน", "Index", new { sortOrder = ViewBag.NameSort, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                วัน/เดือน/ปีเกิด
            </th>
            <th>
                หน่วยงานที่สังกัด
            </th>
            <th>
                หัวหน้างาน
            </th>
        </tr>
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("แก้ไขข้อมูล", "Edit", new { id = item.EmployeeID }) |
                    @Html.ActionLink("ดูรายละเอียด", "Details", new { id = item.EmployeeID }) |
                    @Html.ActionLink("ลบ", "Delete", new { id = item.EmployeeID })

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @{
                        DateTime? Bdate = item.Birthdate;
                        string FormatDate;
                        if (Bdate.HasValue)
                        {
                            FormatDate = Bdate.Value.ToString("dd-MM-yyyy");
                            @Html.DisplayFor(model => FormatDate);
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HR_Department.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BossID)
                </td>
            </tr>
        }
    }
</table>
<div class="row">
    <div class="col-md-4 pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.currentFilter }),PagedListRenderOptions.ClassicPlusFirstAndLast)
        Now Showing: @Model.PageSize item(s)
    </div>
    
</div>
<br/>
<div class="row pull-right">
        @Html.ActionLink("Add New Employee", "Create", null, htmlAttributes: new { @class = "btn btn-default" })
        @Html.ActionLink("ค้นหารายชื่อพนักงาน", "ListEmployee", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
