@model IEnumerable<WebApplication1.Models.HR_Employee>
    @using System.Linq

    @{
        ViewBag.Title = "ค้นหาข้อมูลพนักงาน";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>ค้นหาข้อมูลพนักงาน</h2>
    @using (Html.BeginForm("ListEmployee", "HR_Employee", FormMethod.Post))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                @Html.Label("รหัสพนักงาน: ", htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBox("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("ชื่อ-นามสกุล พนักงาน", htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBox("FullName", null, htmlAttributes: new { @class = "form-control", @placeholder ="สามารถค้นหาโดยพิมพ์ชื่อ นามสกุลได้"})
                </div>
            </div>
            <div class="form-group">
                @Html.Label("หน่วยงาน: ", htmlAttributes: new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.DropDownList("DepartmentID",null, "--เลือก--", htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="col-md-offset-5 col-md-1 btn btn-default" value="Search"/>
            </div>
        </div>
    }

        <table class="table table-bordered">

        @if (!Model.Any() || Model == null)
        {
            <tr>
                <th>
                    <p class="text-warning text-center"><span class="glyphicon glyphicon-alert"></span> ไม่พบข้อมูลพนักงานที่ค้นหา</p>
                </th>
            </tr>
        }
        else
        {
            <tr>
                <th></th>
                <th>
                    รหัสพนักงาน
                </th>
                <th>
                    ชื่อ-นามสกุลพนักงาน
                </th>
                <th>
                    วัน/เดือน/ปีเกิด
                </th>
                <th>
                    หน่วยงานที่สังกัด
                </th>
            </tr>
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeID }) |
                        @*Html.ActionLink("Details", "Details", new { id = item.EmployeeID }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeID })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @{
                            DateTime? Bdate = item.Birthdate;
                            string FormatDate;
                            if (Bdate.HasValue)
                            {
                                FormatDate = Bdate.Value.ToString("dd/MM/yyyy");
                                @Html.DisplayFor(model => FormatDate);
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HR_Department.Name)
                    </td>

                </tr>
            }
        }
    </table>








