
@*model IEnumerable<WebApplication1.Models.HR_Employee>*@
@model WebApplication1.Models.HR_Employee
@using System.Linq
@{
        ViewBag.Title = "TestEmpID";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr/><br/>
<table class="table table-bordered">
        <tr>
            <th></th>
            <th>
                รหัสพนักงาน
            </th>
            <th>
                ชื่อ นามสกุล พนักงาน
            </th>
            <th>
                ชื่อ พนักงาน
            </th>
            <th>
                นามสกุล พนักงาน
            </th>
            <th>
                วันเดือนปีเกิด
            </th>
            <th>
                รหัสหัวหน้างาน
            </th>
            <th>
                ชื่อหัวหน้างาน
            </th>
            <th>
                วันที่แก้ไขข้อมูลล่าสุด
            </th>
            <th>
                หน่วยงานที่สังกัด
            </th>
        </tr>
            <tr>
                <td>
                    @Html.ActionLink("แก้ไขข้อมูล", "Edit", new { id = item.EmployeeID }) |
                    @Html.ActionLink("ดูรายละเอียด", "Details", new { id = item.EmployeeID }) |
                    @Html.ActionLink("ลบ", "Delete", new { id = item.EmployeeID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstName)
                </td>
                 <td>
                     @Html.DisplayFor(modelItem => Model.LastName)
                 </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.Birthdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.EmployeeID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.ModifiedDate)
                </td>
            </tr>
</table>

