<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Sidemenu.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" type="text/css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap-theme.min.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.min.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.theme.min.css")" type="text/css" />
    @RenderSection("StyleSheet", required: false)
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src=@Url.Content("~/Scripts/jquery-2.2.4.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery-ui.min.js")></script>
    <meta name="description" content="C# Exam" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="sidemenu-toggle navbar-brand" onclick="openMenu()">☰</p>
                <a href="@Url.Action("Index","HR_Employee")" class="navbar-brand">C# Examination</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href='@Url.Action("Index", "HR_Employee")' class="dropdown-toggle" data-toggle="dropdown" role="button">พนักงาน<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("หน้าหลัก", "Index", "HR_Employee")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("เพิ่มพนักงาน", "Create", "HR_Employee")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("ค้นหาพนักงาน (Webservice)", "ListEmployee", "HR_Employee")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("ค้นหาพนักงาน (ไม่ใช้ Webservice)", "SearchEmployee", "HR_Employee")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href='@Url.Action("Index", "HR_Department")' class="dropdown-toggle" data-toggle="dropdown" role="button">หน่วยงาน<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("รายชื่อหน่วยงาน", "Index", "HR_Department")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("เพิ่มหน่วยงาน", "Create", "HR_Department")</li>
                        </ul>
                    </li>
                </ul>                
            </div>
        </div>
    </div>

    <div id="navigator">
        <ul>
            <li>
                <a href="javascript:void(0)" class="closebtn" onclick="closeMenu()"><span class="glyphicon glyphicon-remove"></span></a>
            </li>
            <li>
                พนักงาน
            </li>
                    <li>@Html.ActionLink("หน้าหลัก", "Index", "HR_Employee")</li>
                    <li>@Html.ActionLink("เพิ่มพนักงาน", "Create", "HR_Employee")</li>
                    <li>@Html.ActionLink("ค้นหาพนักงาน (Webservice)", "ListEmployee", "HR_Employee")</li>
                    <li>@Html.ActionLink("ค้นหาพนักงาน (ไม่ใช้ Webservice)", "SearchEmployee", "HR_Employee")</li>
            
            <li>
                หน่วยงาน
            </li>
                    <li>@Html.ActionLink("รายชื่อหน่วยงาน", "Index", "HR_Department")</li>
                    <li>@Html.ActionLink("เพิ่มหน่วยงาน", "Create", "HR_Department")</li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        @RenderSection("Scripts", required: false)
        <hr />
        <footer>
            <p><span class="glyphicon glyphicon-copyright-mark"></span> @DateTime.Now.Year - C# Examination</p>
        </footer>
    </div>
    <script type="text/javascript">
        function openMenu() {
            $("#navigator").width(250);
            $("#navigator ul").fadeIn(400);
        }
        function closeMenu() {
            $("#navigator").width(0);
            $("#navigator ul").fadeOut(400);
        }
    </script>
    <script src=@Url.Content("~/Scripts/bootstrap.min.js")></script>
   <!-- <script src=@Url.Content("~/Scripts/jquery.validate.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.validate-vsdoc.js")></script> -->
</body>
</html>