@model IEnumerable<WebApplication1.Models.HR_Department>
@using System.Linq

@{
    ViewBag.Title = "ข้อมูลหน่วยงาน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ข้อมูลหน่วยงาน</h2>

@if (ViewBag.DeptDelException != null)
{
    <script type="text/javascript">
        alert('@ViewBag.DeptDelException');
    </script>
    <p class="bg-danger"><span class="glyphicon glyphicon-alert"></span> @ViewBag.DeptDelException</p>
}

        <table class="table table-bordered">
            @if (!Model.Any())
            {
                <tr>
                    <th>
                        <p class="text-warning text-center"><span class="glyphicon glyphicon-info-sign"></span> ไม่มีข้อมูลหน่วยงาน</p>
                    </th>
                </tr>
            }
            else
            {
                <tr>
                    <th></th>
                    <th>
                        รหัสหน่วยงาน
                    </th>
                    <th>
                        ชื่อหน่วยงาน
                    </th>
                    <th>
                        กลุ่มงาน
                    </th>
                </tr>
                foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-3">
                            @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentID }) |
                            @*Html.ActionLink("ดูรายละเอียด", "Details", new { id = item.DepartmentID }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentID }, new { onclick = "return confirm('Are you sure you wish to delete this department info?');" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GroupName)
                        </td>
                    </tr>
                }
            }
        </table>
        <div>
            @Html.ActionLink("เพิ่มหน่วยงานใหม่", "Create", null, htmlAttributes: new { @class = "btn btn-default pull-right" })
        </div>
